/* styles.css */

/* Center the text on the page */
/* Center the text on the page and set font */
body {
    background-color: #fdf5e6; /* Cream color */
    text-align: center;
    /*font-family: Arial, sans-serif;*/
}

/* Center the form on the page */
form {
    display: inline-block;
    text-align: left;
    margin: auto;
}

/* Style the interests section */
.interests {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.interests-column {
<<<<<<< HEAD
    width: 30%;
    box-sizing: border-box;
    padding: 10px;
=======
    width: 49%;
>>>>>>> bddbca2d40816434e8609970b5d56f9def90aef7
}

.interests-column label {
    display: block;
<<<<<<< HEAD
    font-size: 10px;
=======
    font-size: 14px; /* Decreased font size */
>>>>>>> bddbca2d40816434e8609970b5d56f9def90aef7
}

.button-container {
    margin-top: 20px;
}

.button {
    display: inline-block;
    padding: 15px 25px;
    margin: 10px;
    font-size: 16px;
    color: white;
<<<<<<< HEAD
    background-color: #d2ed82; 
=======
    background-color: #4CAF50; /* Green */
>>>>>>> bddbca2d40816434e8609970b5d56f9def90aef7
    text-decoration: none;
    border-radius: 5px;
}

.button:hover {
<<<<<<< HEAD
    background-color: #acc269;
}

h1 {
    font-size: 2em; /* Increase this value to make the titles larger */
    margin-top: 20px;
    margin-bottom: 5px
}

body {
    font-size: 1.25em; /* Increase this value to make the titles larger */
    margin-top: 5px;
    margin-bottom: 5px;
}

input {
    margin-bottom: 0px;
}

/* Ensure columns are responsive on smaller screens */
@media (max-width: 800px) {
    .interests-column {
        width: 45%; /* Adjust to two columns on smaller screens */
    }
}

@media (max-width: 500px) {
    .interests-column {
        width: 100%; /* Stack columns on very small screens */
    }
=======
    background-color: #45a049;
>>>>>>> bddbca2d40816434e8609970b5d56f9def90aef7
}